[Arduino]

; Name of the connection arduino is on.
SERIAL_PORT : /dev/cu.usbmodem1411
PIN_SOUND : 3
PIN_TEMPERATURE : 2

[Instapush]

INSTAPUSH_APP_ID : <Instapush app id here>
INSTAPUSH_APP_SECRET : <Instapush app secret here>
INSTAPUSH_EVENT_NAME : TemperatureAlert

